:root {
  --primary-color: #007bff;
  font-size: 16px;
}
@media (max-width: 1024px) {
  body {
    font-size: 1.2rem;
    padding: 0.2rem 0.2rem;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 1rem;
    padding: 0.2rem 0.2rem;
  }
}

body {
  font-family: Arial, sans-serif;  
  background-color: blue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.menu-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.green-button {
  background-color: green;
  border: none;
  cursor: pointer;
}
.green-btn-link {
  display: inline-block;
  width: 15em;
  height: 2em;
  line-height: 2em;
  margin: 2em 1em 0em 1em;
  background-color: rgb(135, 247, 135);
  text-align: center;
  vertical-align:middle;
  text-decoration: none;
  border-radius: 3px;
}

.footer-area {
  position:fixed;
  bottom: 1.5em;
}